body{
  background-color: #5DADE2;
}

img{
  border-radius: 50%;
}
.girar{
  width: 190px;
  height: 180px;
  margin: auto;
  transition: all 1s;
  transform-origin: center center;
  cursor: pointer;
  border-radius: 50%;



  box-shadow: 10px 10px 20px black;
}

.girar:hover{
  transform: rotate3d(1,1,1,360deg);
}


.jumbotron{
  background: url('img/sky.png') no-repeat center center fixed;
  background-size: cover;

}
